.Weather {
    width: 100%;
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
}

input, button {
    font-size: 1em;
    padding: 0.5em;
    border-radius: 0.35em;
    margin-left: 0.25em;
    border: 0 transparent solid;
}

.radio {
    margin-top: 0.25em;
}

label {
    padding: 0 0.5em 0 0.15em;
    font-size: 0.85em;
}

button {
    background-color: rgb(0, 67, 139);
    color: white;
}

button:hover {
    background-color: rgba(0, 67, 139, 0.8);
}
